/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
.env
/.env.example
/.env.example.local
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/getPdo()
/storage/logs/
/public/CUsersgaspaPhpstormProjectslaravel_architecting_trainingstoragelogs/laravel.log
